<header class="featured">
	<section class="hero-quote hero-quote-one">
		<div class="container">
			<div class="hero-quote-text">
				<span class="hero-quote-person"><i class="fa fa-comments"></i>
					Joe Jacobellis</span>
				<span class="hero-quote-words">
					“ These guys dont just push pixels, they deliver high quality, usable products that far surpass any other Healthcare provider. “
				</span>
				<span class="hero-icon-huge arrow animated bounce"><a id="hero-icon-huge" href="#content"><i class="fa fa-angle-down"></i></a></span>
			</div>
		</div>
	</section>
</header>