<div class="navbar navbar-default navbar-fixed-top affix-top" role="navigation"
data-spy="affix" data-offset-top="450">
	<div class="container">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="#">
				buixld
			</a>
		</div>
			
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">projects <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="http://hcastyles.com/">HCA Style Guide</a><li>
						<li><a href="http://ehc-rnd.com/class-events/">Classes &amp; Event Registration</a></li>
						<ul>
							<li><a href="https://tristarcentennial.secure.ehc.com/calendar/">Tristar Centennial</a></li>
							<li><a href="https://thechildrenshospitalnashville.secure.ehc.com/calendar/">The Childrens Hospital</a></li>
							
						</ul>
						<li><a href="http://ehc-rnd.com/provider-directory/">Provider Directory</a></li>
					</ul>
				</li> -->
				<li><a href="http://ehc-rnd.com/class-events/">class &amp; event</a>
				<li><a href="/provider-directory/">provider directory</a>
				<li><a href="/patterns/crm/">crm pattern library</a>
				<li><a href="http://hospital-pro.prod.ehc.com/">hut</a>
			</ul>
		</div>
			
	</div> <!-- /container -->
</div> <!-- /navbar -->